* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    font-size: 1.2rem;
}
.nav-container{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 6px;
}
.item {
    margin: 6px;
}

main {
    margin-top: 150px;
    text-align: center;
    min-height: 65.0rem;
}
.main-logo {
   margin-bottom: 15px;
}
.main-button {
    display: flex;
    justify-content: center;
    margin-top: 2.0rem;
}
.main-access {
    margin-top: 2.0rem;
}
.footer-enunciado {
    padding: 20px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.container-left {
    display: flex;
    list-style: none;
}
.container-right {
    display: flex;
    list-style: none;
}